.img-preview {
    width: 512px;
    height: 512px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.login-line {
    margin-top:10px;
    margin-left:20px;
}

.signup-form{
   margin-left:10px;
}

.pheader{
    color : #0067d6;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}


.login{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: auto;
}

.login-img{
    background-image:url("../img/login2.jpg");
    background-position: auto;
    background-repeat: no-repeat;
    background-size: 100%;

}

.signup-img{
    background-image:url("../img/signup.jpg");
    background-position: auto;
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn{
    display: inline-block;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
}

.greeting{
    margin-right: 0%;
    margin-left: 60%;
    /*text-color: 0x;*/
    background-color: #007bff;
    font-size: auto;
    color: white;
}

.predForm{
    margin-bottom: 100px;
    text-align: center;
}
.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 512px 512px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right:auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}