{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}



{% block content %}
<body class="login-img">
    <div class="login">
<form method="post" class="signup-form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-success">Login</button>
</form>
        {% if not user.is_authenticated %}

    </div>
<center>
<p>if you don't already have an account,
    you can <a href="{% url 'signup' %}">signup</a> here
</p>
    </center>
</body>



{% endif %}

{% endblock %}
