{% extends 'base.html' %}
{% block content %}
    {% load static %}
 <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('{% static 'cancerApp/img/slider-2.jpg' %}');">

        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 element-animate">
              <h1>About Us</h1>
              <h3>Who we are</h3>
              <p>We deliver for you a service that helps you to take care about your health.</p>
            </div>
          </div>
        </div>

      </div>

    </section>

{% endblock %}
