{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}

<body style="background-color:lightgrey">
       <h1 class="pheader">Consultation</h1>

<div class="predForm">
    <form id="upload-file" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>

        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg, .zip">
    </form>


    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <img src="" class="displayed_img" id="diagnose_img">
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Diagnose</button>
        </div>
    </div>

    <div class="loader"></div>
    <h3 id="result">
        <span> </span>
    </h3>    

</div>
{% else %}
<center>
<p>sorry, you must log in to use this</p>
<a href="{% url 'login' %}">Login here!</a>
</center>
{% endif %}


{% endblock %}
</body>